@font-face {
  font-family: 'Semicolon';
  src: url('../font/semicolon-webfont.eot');
  src: url('../font/semicolon-webfont.eot?#iefix') format('embedded-opentype'), url('../font/semicolon-webfont.woff') format('woff'), url('../font/semicolon-webfont.ttf') format('truetype'), url('../font/semicolon-webfont.svgz#MonacoRegular') format('svg'), url('../font/semicolon-webfont.svg#MonacoRegular') format('svg');¬
  font-weight: normal;¬
  font-style: normal;¬
}
